* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(205, 173, 200);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.form-contatiner {
    background-color: rgb(243, 247, 247);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 40px 12px rgba(0,0,0,0.1);
    width: 400px;
    max-width: 400px;
    margin-top: 100px;
}

.form-contatiner h2 {
    text-align: center;

